.profile-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.user-wrapper {
  background-color: #f7f6f9;
  height: 72.5rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 3.4rem;
  gap: 1.3rem;
}

.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.choose-photo {
  position: relative;
  overflow: hidden;
}

input[type="file"] {
  color: transparent;
  position: absolute;
  top: -9999px;
}

input[type="file"] + label::after {
  content: "Файл не выбран";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 1.5;
  visibility: hidden;
}

input[type="file"] + label {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #5458ea;
  text-align: center;
}

.profile-form input {
  width: 62rem;
  height: 3.2rem;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.profile-form input::placeholder {
  color: #c0c0c0;
}

.choose-photo {
  flex-direction: column;
  text-decoration: none;
  margin-top: 6.4rem;
}

.choose-photo p {
  color: #5458ea;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 1.2rem;
}

.choose-photo {
  align-items: center;
}

.profile-btn {
  margin-top: 5rem;
  border: none;
  width: 28rem;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #5d5fef;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
}

.user-email {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}

.add-mobile {
  font-size: 1.6rem;
  font-weight: 400;
  color: #5458ea;
  cursor: pointer;
}
