@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.form-input {
  width: 33.5rem;
  height: 3.5rem;
  outline: none;
  border: hidden;
  border-bottom: solid #c0c0c0 1px;
  text-indent: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #494949;
  margin-bottom: 5rem;
}

.form-input::placeholder {
  color: #c0c0c0;
}

.password-input__wrapper {
  width: 33.5rem;
  height: 3.5rem;
  outline: none;
  border: none;
  border-bottom: solid #c0c0c0 1px;
}

.password-input {
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.password-input::placeholder {
  color: #c0c0c0;
}
